extends layout

block content

	.wrap
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					strong.navbar-brand
						| title

		.content
			.container
				| content here