$default-font-size: 12px;
$default-bg-color: #fff;

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    overflow-y: scroll;
}

body {
    padding: 0 !important;
    margin: 0;
    background-color: $default-bg-color;
    word-break: break-all;
    font-family: Nanum Gothic,AppleGothic,sans-serif;
    font-size: $default-font-size;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@import "style-header";
@import "style-content";